<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Varela" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>HouseRental</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a style="color:#0a3d62;font-size:35px;font-weight: 600;font-family: 'Oleo Script', cursive" class=" navbar-brand sticky-top"
      id="brand" href="/landing">rentPay
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a style="color:#000" class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
        </li>

        <% if(!currentUser){ %>
        <li class="nav-item">
          <a style="color:#000" class="nav-link" href="/auth/login">OwnerLogin</a>
        </li>
        <li class="nav-item">
          <a style="color:#000" class="nav-link" href="/auth/register">OwnerSignup</a>
        </li>
        <li class="nav-item">
          <a style="color:#000" class="nav-link" href="/tenant/form">TenantLogin</a>
        </li>
        <li class="nav-item">
          <a style="color:#000" class="nav-link" href="/tenant/form">TenantSignup</a>
        </li>
        <li class="nav-item">
          <a style="color:#000" class="nav-link" href="#">About us</a>
        </li>
        <%  }else{ %>
        <li class="nav-item">
          <a style="color:#000" class="nav-link" href="#">Welcome
            <%=currentUser.username%></a></a>
        </li>
        <li class="nav-item">
          <a style="color:#000" class="nav-link" href="/rental/rentalform">Create Rental</a>
        </li>
        <li class="nav-item">
          <a style="color:#000" class="nav-link" href="/auth/logout">Logout</a></a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>